{{#section 'header'}}
  <meta name='keywords' content='' />
  <meta name='author' content='' />
  <meta name='robots' content='' />
  <meta name='description' content='{{title}}' />
  <meta property='og:title' content='{{title}}' />
  <meta property='og:description' content='{{title}}' />
  <meta property='og:image' />

  <title>{{title}}</title>

{{/section}}

<div class='card'>
  <div class='card-header'>
    <h4>تغییر رمز عبور</h4>
  </div>
  <div id='mainSection' class='card-body'>
    <form action='/core/user/changepassword' method='post'>
      <div class='row'>
        {{#if (isnotnull error)}}
          <div class='col-xs-12 col-xl-12'>
            <div class='alert alert-danger' role='alert'>
              {{{error}}}
            </div>
          </div>
        {{/if}}

        {{#if (isnotnull success)}}
          <div class='col-xs-12 col-xl-12'>
            <div class='alert alert-success' role='alert'>
              {{{success}}}
            </div>
          </div>
        {{/if}}
        <div class='col-xs-12 col-xl-12'>
          <div class='basic-form'>
            <div class='form-row'>
              <div class='form-group col-md-6'>
                <label>رمز عبور قبلی</label>
                <input
                  id='currentPassword'
                  name='currentPassword'
                  type='text'
                  class='form-control'
                  placeholder='رمز عبور قبلی'
                />
              </div>
              <div class='form-group col-md-6'>
                <label>رمز عبور جدید</label>
                <input
                  id='newPassword'
                  name='newPassword'
                  type='text'
                  class='form-control'
                  placeholder='رمز عبور جدید'
                />
              </div>

              <div class='form-group col-md-6'>
                <label>تکرار رمز عبور جدید</label>
                <input
                  id='confirmPassword'
                  name='confirmPassword'
                  type='text'
                  class='form-control'
                  placeholder='تکرار رمز عبور جدید'
                />
              </div>

            </div>

          </div>
        </div>
        <div class='col-xs-12 col-xl-12'>
          <div class='form-group col-md-6'>
            <button
              class='btn btn-sm btn-success rounded-3'
              type='submit'
            >ذخیره</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

{{#section 'footer'}}{{/section}}