<html>
  <head><title>{{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
  <style>
    #map {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}
  </style>
  </head>
  <body>
    <div id="entityId" class="d-none">{{buffet.id}}</div>
    <div class='basic-form'>
      <form id='editEntityForm' autocomplete='off'>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group col-md-12'>
              <h1>مشخصات کافه</h1>
            </div>
             <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>آپلود</span>
              </div>
              <div class='custom-file'>
                <input
                  id="file"
                  type='file'
                  accept='.jpg,.png'
                  class='custom-file-input'
                />
                <label class='custom-file-label'>انتخاب کاور</label>
              </div>
            </div>
            <div class='form-group col-md-12'>
              <label>نام کافه رستوران</label>
              <input
                name='title'
                type='text'
                class='form-control'
                placeholder='نام کافه رستوران'
                value="{{buffet.title}}"
              />
            </div>
            <div class='form-group col-md-12'>
              <label>آدرس لینک (در صورت وارد نکردن برابر نام میشود)</label>
              <input
                name='urlAddress'
                type='text'
                class='form-control'
                placeholder='آدرس لینک'
                value="{{buffet.urlAddress}}"
              />
            </div>

            <div class="form-group col-sm-6 col-xl-6">
                  <label>نوع</label>
                  <select name="buffetTypeId"
                      class="form-control default-select form-control-lg dir-rtl">
                      {{#each buffetTypes}}

                      <option value="{{id}}" {{#if (ifequals ../buffet.buffetTypeId id)}} selected=""{{/if}}>{{title}}</option>

                      {{/each}}
                  </select>
            </div>


            <div class="form-group col-sm-6 col-xl-6">
                  <label>نوع هزینه</label>
                  <select id="mySelect" name="buffetCostId" 
                      class="form-control default-select form-control-lg dir-rtl">
                      {{#each buffetCosts}}
                      
                      <option value="{{id}}" {{#if (ifequals ../buffet.buffetCostId id)}} selected=""{{/if}}>{{title}}</option>

                      {{/each}}
                  </select>
            </div>


            <div class="form-group col-sm-6 col-xl-6">
                  <label>نام شهر</label>
                  <select name="cityId"
                      class="form-control default-select form-control-lg dir-rtl">
                      {{#each buffetCities}}

                      <option value="{{id}}" {{#if (ifequals ../buffet.buffetCityId id)}} selected=""{{/if}}>{{title}}</option>

                      {{/each}}
                  </select>
            </div>

            <div class='form-group col-md-12'>
              <label>مقدار تخفیف به درصد</label>
              <input
                name='percentDiscount'
                type='number'
                class='form-control'
                placeholder='مقدار تخفیف به درصد'
                value="{{buffet.percentDiscount}}"
              />
            </div>
            <div class='form-group col-md-12'>
              <label>شماره تلفن کافه</label>
              <textarea
                name='buffetPhone'
                type='text'
                class='form-control'
                placeholder='شماره تلفن کافه'
              >{{buffet.buffetPhone}}</textarea>
            </div>
            <div class='form-group col-md-12'>
              <label>آدرس کافه</label>
              <textarea
                name='buffetAddress'
                type='text'
                class='form-control'
                placeholder='آدرس کافه'
              >{{buffet.buffetAddress}}</textarea>
            </div>
            <div class='form-group col-md-12'>
              <label>لینک waze</label>
              <input
                name='wazeLink'
                type='text'
                class='form-control'
                placeholder='لینک waze'
                value="{{buffet.wazeLink}}"
              ></input>
            </div>
            <div class='form-group col-md-12'>
              <label>لینک بلد</label>
              <input
                name='baladLink'
                type='text'
                class='form-control'
                placeholder='لینک بلد'
                value="{{buffet.baladLink}}"
              ></input>
            </div>
            <div class='form-group col-md-12'>
              <label>لینک نشان</label>
              <input
                name='neshanLink'
                type='text'
                class='form-control'
                placeholder='لینک نشان'
                value="{{buffet.neshanLink}}"
              ></input>
            </div>
            <div class='form-group col-md-12'>
              <label>لینک گوگل مپ</label>
              <input
                name='googleMapLink'
                type='text'
                class='form-control'
                placeholder='لینک گوگل مپ'
                value="{{buffet.googleMapLink}}"
              ></input>
            </div>
            
          </div>
          <div class='col-md-6'>
           <div class='form-group col-md-12'>
              <h1>مشخصات صاحب کافه</h1>
           </div>

           <div class='form-group col-md-12'>
              <label>نام صاحب کافه</label>
              <input
                name='firstname'
                type='text'
                class='form-control'
                placeholder='نام صاحب کافه'
                value="{{owner.firstname}}"
              />
            </div>

            <div class='form-group col-md-12'>
              <label>نام خانوادگی صاحب کافه</label>
              <input
                name='lastname'
                type='text'
                class='form-control'
                placeholder='نام خانوادگی صاحب کافه'
                value="{{owner.lastname}}"
              />
            </div>

            <div class='form-group col-md-12'>
              <label>نام کاربری صاحب کافه</label>
              <input
                name='username'
                type='text'
                class='form-control'
                placeholder='نام کاربری صاحب کافه'
                value="{{owner.username}}"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-12">
              <div id="map" data-mode="">
                <input type="hidden" data-map-markers="" value="" name="map-geojson-data" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>عرض جغرافیایی</label>
              <input
                id="latitude"
                name='latitude'
                type='text'
                class='form-control'
                placeholder='عرض جغرافیایی'
                value="{{buffet.latitude}}"
              />
            </div>
            <div class="form-group col-md-6">
              <label>طول جغرافیایی</label>
              <input
                id="longitude"
                name='longitude'
                type='text'
                class='form-control'
                placeholder='طول جغرافیایی'
                value="{{buffet.longitude}}"
              />
            </div>
          </div>
        </div>

        <div class="row">
            <div class='form-group col-md-12'>
              <label>توضیحات کافه</label>
              <textarea
                id="content"
                name='buffetDescription'
                type='text'
                
              >{{{buffet.buffetDescription}}}</textarea>
            </div>
        </div>

      </form>
    </div>

    <div class='row'>
      <button id='updateButton' type="submit" form="editEntityForm" class='btn btn-primary mt-3'><i
          class='fa fa-save'
        ></i>
        ویرایش</button>
    </div>
    
    
  </body>
  
  
  <script type="text/javascript" src="/src/discountcoffe/buffet/map.js"></script>
    
  <script src="/tools/core/vendor/tinymce/6.0.3/tinymce.min.js"></script>
  
  
  <script src="/src/discountcoffe/buffet/createBuffet.js"></script>
  
</html>