{{#section 'header'}}
  <title>{{title}}</title>
{{/section}}
<div class='finalTicket'>
  <div class='container'>
    <div class='ticket-wrapper'>
      <div class='row align-items-center'>
        <div class='col-md-8'>
          <div class='ticket-detail'>
            <div class='personalInfo'>
              <div>
                <span class='name'>شماره رزرو:
                  {{reserve.id}}</span>
                <span class='name'>شماره تلفن:
                  {{reserve.user.phoneNumber}}</span>
                <span class='date'>تاریخ رزرو:
                  {{reserve.persianDate.DayNameInMonth}}
                </span>
              </div>
              <div class='print'>
                <a href='javascript:window.print();'><i
                    class='icon-print'
                  ></i></a>
              </div>
            </div>
            <div class='addressCafe'>
              آدرس کافه:
              {{reserve.buffet.buffetAddress}}
            </div>
            <div class='phoneCafe'>شماره تلفن کافه:
              {{reserve.buffet.buffetPhone}}</div>
            <div class='notice'>
              توجه داشته باشید تخفیف زمانی اعمال می شود که کد رزرو شده را به
              صندوق کافه ارائه دهید
            </div>
          </div>
        </div>
        <div class='col-md-4 text-center'>
          <img
            src='/buffet/qr/{{reserve.attachment.fileName}}'
            class='qr'
            alt=''
          />
        </div>
      </div>
    </div>
  </div>
</div>
{{#section 'footer'}}
  <script src='assets/js/wow.js'></script>
  <script>
    new WOW().init();
  </script>
{{/section}}