{{#section 'header'}}
  <link
    rel='stylesheet'
    href='/src/discountcoffe/js/simplePagination.min.css'
  />
  <title>{{title}}</title>
{{/section}}
<section class='cases'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3'>
        <div class='filters'>
          
          <div class='head'>فیلتر نتایج</div>
          <div style="display: none;">
            <input id="searchInput" type="text" value="{{queryFilter.search}}">
          </div>
          <div class='filterItemSingle'>
            <div class='topBar'>
              <div>
                <span>نوع کافه رستوران</span>
              </div>
              <i class='icon-bottom'></i>
            </div>
            <div class='filterWrapper'>
              <select name='buffetTypeId' id='buffetTypeId'>
                <option value='0'>همه</option>
                {{#each buffetTypes}}
                  <option value='{{id}}' {{#if (ifequals ../queryFilter.buffetTypeId id)}}selected{{/if}}>{{title}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class='filterItemSingle'>
            <div class='topBar'>
              <div>
                <span>نوع هزینه</span>
              </div>
              <i class='icon-bottom'></i>
            </div>
            <div class='filterWrapper'>
              <select name='buffetCostId' id='buffetCostId'>
                <option value='0'>همه</option>
                {{#each buffetCosts}}
                  <option value='{{id}}' {{#if (ifequals ../queryFilter.buffetCostId id)}}selected{{/if}}>{{title}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class='filterItemSingle'>
            <div class='topBar'>
              <div>
                <span>شهر</span>
              </div>
              <i class='icon-bottom'></i>
            </div>
            <div class='filterWrapper'>
              <select name='buffetCityId' id='buffetCityId'>
                <option value='0'>همه</option>
                {{#each buffetCities}}
                  <option value='{{id}}' {{#if (ifequals ../queryFilter.buffetCityId id)}}selected{{/if}}>{{title}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class='filterItemSingle'>
            <div class='topBar'>
              <div>
                <span>امکانات کافه</span>
              </div>
              <i class='icon-bottom'></i>
            </div>
            <div class='filterWrapper'>
              {{#each coffeOptions}}
                <div class="coffeOptionItem">
                  <input coffe-option-id="{{id}}" type="checkbox" id="coffeOptions_{{@index}}" />
                  <label for="coffeOptions_{{@index}}"><i class="{{iconClass}}"></i> {{title}}</label>
                </div>
              {{/each}}
            </div>
          </div>
          <div class='filterCurrentLocation'>
            <span position="" class="d-none" id="latitude"></span>
            <span position="" class="d-none" id="longitude"></span>
            <button id="btnBehindCurrentLocation" class="find-around-btn" type="button">یافتن کافه رستوران های اطراف</button>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='row'>
          <div class='order'>
            <span>مرتب سازی بر اساس</span>
            <a field-id='id' field-order='desc' href='#' class='active'>جدید
              ترین</a>
            <a field-id='id' field-order='asc' href='#'>قدیمی ترین</a>
          </div>
        </div>
        <div class='row' id='products'>
        </div>
        <div class='row' id='pagination'></div>
      </div>
    </div>
  </div>
</section>
{{#section 'footer'}}
  <script src='/src/discountcoffe/js/jquery.simplePagination.min.js'></script>
  <script src='/src/discountcoffe/js/filter.js'></script>
{{/section}}