{{#section 'header'}}
  <title>{{title}}</title>
{{/section}}
<div class='hero'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-md-7'>
        <h1 class='wow animate__animated animate__fadeInUp'>تخفیف کافه</h1>
        <p class='wow animate__animated animate__fadeInUp'>
          معرفی بهترین کافه های سطح کشور با تخفیف از ما
        </p>
        <a href='' class='link wow animate__animated animate__fadeInUp'>همه کافه
          ها</a>
      </div>
      <div class='col-md-5'>
        <div class='searchBox'>
          <div class='heroSearch'>
            <h2 class='head'>جست و جوی سریع</h2>
            <div class='form-control'>
              <label for='for'>لوکیشن</label>
              <div class='input'>
                <i class='icon-location right'></i>
                <select name='location' id='location'>
                  <option value='1'>سهروردی</option>
                  <option value='2'>شهر آرا</option>
                  <option value='3'>ستارخان</option>
                  <option value='4'>رودکی</option>
                  <option value='5'>حسن آباد</option>
                </select>
                <i class='icon-down arrow'></i>
              </div>
            </div>
            <div class='form-control'>
              <label for='for'>لوکیشن</label>
              <div class='radios'>
                <div class='radioItem active'>
                  <label for='cafes'>کافه ها</label>
                  <input
                    id='cafes'
                    name='type'
                    checked
                    type='radio'
                    value='1'
                  />
                </div>
                <div class='radioItem'>
                  <label for='restaurant'>کافه ها</label>
                  <input id='restaurant' name='type' type='radio' value='2' />
                </div>
              </div>
            </div>
            <div class='form-control'>
              <label for='for'>قیمت منوها</label>
              <div class='radios'>
                <div class='radioItem active'>
                  <label for='poor'>ارزان</label>
                  <input
                    id='poor'
                    name='price'
                    checked
                    type='radio'
                    value='1'
                  />
                </div>
                <div class='radioItem'>
                  <label for='luxuary'>لاکچری</label>
                  <input id='luxuary' name='price' type='radio' value='2' />
                </div>
                <div class='radioItem'>
                  <label for='ecconomy'>اقتصادی</label>
                  <input id='ecconomy' name='price' type='radio' value='3' />
                </div>
                <div class='radioItem'>
                  <label for='cupen'>دارای کوپن</label>
                  <input id='cupen' name='price' type='radio' value='4' />
                </div>
              </div>
            </div>
            <button class='searchFilter'>
              جست و جو
              <i class='icon-search'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='luxuaries'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 col-12 p-0'>
        <div class='rightBox'>
          <h3 class='wow animate__animated animate__fadeInUp'>
            ویترین کافه
          </h3>
          <p class='wow animate__animated animate__fadeInUp'>
            با کیفیت ترین کافه ها از نظر متریال و دکور
          </p>
          <a class='wow animate__animated animate__fadeInUp' href=''>همه لاکچری
            ها</a>
        </div>
      </div>
      <div class='col-md-9 col-12 p-0 h-100 reverseOrderMobile'>
        <div class='luxCarousel'>
          <div>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/lux.png'
              alt=''
            />
          </div>
          <div>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/lux.png'
              alt=''
            />
          </div>
          <div>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/lux.png'
              alt=''
            />
          </div>
          <div>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/lux.png'
              alt=''
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='bestCategories'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInUp'>
          <img src='/theme/discountcoffe/assets/img/png/icecreame.png' alt='' />
          <a href=''><h5>بهترین بستنی ها</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInDown'>
          <img src='/theme/discountcoffe/assets/img/png/shake.png' alt='' />
          <a href=''><h5>بهترین شیک ها</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInUp'>
          <img src='/theme/discountcoffe/assets/img/png/coockies.png' alt='' />
          <a href=''><h5>بهترین کوکی ها</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInDown'>
          <img src='/theme/discountcoffe/assets/img/png/fruits.png' alt='' />
          <a href=''><h5>بهترین میوه ها</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='fomos'>
  <div class='container'>
    <div class='fomoWrapper'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>1320000</h4>
            <h5>1320000</h5>
          </div>
          <p class='title'><span>کد</span> جنریت شده</p>
        </div>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>1320000</h4>
            <h5>1320000</h5>
          </div>
          <p class='title'><span>کد</span> جنریت شده</p>
        </div>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>1320000</h4>
            <h5>1320000</h5>
          </div>
          <p class='title'><span>کد</span> جنریت شده</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>کافه ها</h4>
      <a href=''>همه کافه ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        {{#each lastCoffes}}
          <div class='productItem'>
            <img
              class='w-100'
              src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
              alt=''
            />
            <div class='productData'>
              <h3>{{title}}</h3>
              <div class='features'>
                {{#each (limit coffeOptions 3)}}
                  <div class='item'>
                    <i class='{{iconClass}}'></i>
                    <p>{{title}}</p>
                  </div>
                {{/each}}
              </div>
              <div class='more'>
                <h5>تا {{percentDiscount}}% تخفیف!</h5>
                <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
<div class='super-lux'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-5'>
        <img
          class='super-lux-img'
          src='/theme/discountcoffe/assets/img/png/super-lux.png'
          alt=''
        />
      </div>
      <div class='col-md-7'>
        <div class='heading'>
          <h5>کافه های سوپر لاکچری</h5>
          <p>کافه های لاکچری بیش از 10 درصد تخفیف</p>
          <a class='more' href=''>همه کافه ها</a>
        </div>
        <div class='offersSlider'>
          <div class='productItem'>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/product.png'
              alt=''
            />
            <div class='productData'>
              <h3>کافه نوستالانژ سعادت آباد</h3>
              <div class='features'>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
              </div>
              <div class='more'>
                <h5>تا 40% تخفیف!</h5>
                <a href=''>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
          <div class='productItem'>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/product.png'
              alt=''
            />
            <div class='productData'>
              <h3>کافه نوستالانژ سعادت آباد</h3>
              <div class='features'>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
              </div>
              <div class='more'>
                <h5>تا 40% تخفیف!</h5>
                <a href=''>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
          <div class='productItem'>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/product.png'
              alt=''
            />
            <div class='productData'>
              <h3>کافه نوستالانژ سعادت آباد</h3>
              <div class='features'>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
              </div>
              <div class='more'>
                <h5>تا 40% تخفیف!</h5>
                <a href=''>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
          <div class='productItem'>
            <img
              class='w-100'
              src='/theme/discountcoffe/assets/img/png/product.png'
              alt=''
            />
            <div class='productData'>
              <h3>کافه نوستالانژ سعادت آباد</h3>
              <div class='features'>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
                <div class='item'>
                  <i class='icon-pizza'></i>
                  <p>غذای فرنگی</p>
                </div>
              </div>
              <div class='more'>
                <h5>تا 40% تخفیف!</h5>
                <a href=''>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>رستوران ها</h4>
      <a href=''>همه رستوران ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        {{#each lastResuturants}}
          <div class='productItem'>
            <img
              class='w-100'
              src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
              alt=''
            />
            <div class='productData'>
              <h3>{{title}}</h3>
              <div class='features'>
                {{#each (limit coffeOptions 3)}}
                  <div class='item'>
                    <i class='{{iconClass}}'></i>
                    <p>{{title}}</p>
                  </div>
                {{/each}}
              </div>
              <div class='more'>
                <h5>تا {{percentDiscount}}% تخفیف!</h5>
                <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class='banner'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='item'>
          <img src='/theme/discountcoffe/assets/img/png/banner-1.png' alt='' />
          <div class='info'>
            <h5>برترین کافه ها</h5>
            <a href=''>مشاهده کافه ها</a>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='item'>
          <img src='/theme/discountcoffe/assets/img/png/banner-2.png' alt='' />
          <div class='info'>
            <h5>برترین کافه ها</h5>
            <a href=''>مشاهده کافه ها</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>برترین کافه ها</h4>
      <a href=''>همه کافه ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
        <div class='productItem'>
          <img
            class='w-100'
            src='/theme/discountcoffe/assets/img/png/product.png'
            alt=''
          />
          <div class='productData'>
            <h3>کافه نوستالانژ سعادت آباد</h3>
            <div class='features'>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
              <div class='item'>
                <i class='icon-pizza'></i>
                <p>غذای فرنگی</p>
              </div>
            </div>
            <div class='more'>
              <h5>تا 40% تخفیف!</h5>
              <a href=''>اطلاعات و رزرو</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='photos'>
          <img
            class='main w-100'
            src='/theme/discountcoffe/assets/img/png/pizza.png'
            alt=''
          />
          <img
            class='sub-1'
            src='/theme/discountcoffe/assets/img/png/sub-1.png'
            alt=''
          />
          <img
            class='sub-2'
            src='/theme/discountcoffe/assets/img/png/sub-2.png'
            alt=''
          />
        </div>
      </div>
      <div class='col-md-6'>
        <h3>تخفیف کافه چیست؟</h3>
        <div class='content'>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
            در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه متخصصان
            را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </p>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
            در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه متخصصان
            را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section 'footer'}}{{/section}}