{{#section 'header'}}
  <title>{{title}}</title>
{{/section}}
<div class='hero'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-md-7'>
        <h1 class='wow animate__animated animate__fadeInUp'>تخفیف کافه</h1>
        <p class='wow animate__animated animate__fadeInUp'>
          معرفی بهترین کافه های سطح کشور با تخفیف از ما
        </p>
        <a href='/buffet/list' class='link wow animate__animated animate__fadeInUp'>همه کافه، رستوران ها</a>
      </div>
      <div class='col-md-5'>
        <div class='searchBox'>
          <div class='heroSearch'>
            <h2 class='head'>جست و جوی سریع</h2>
            <div class='form-control'>
              <label for='for'>لوکیشن</label>
              <div class='input'>
                <i class='icon-location right'></i>
                <select name='location' id='location'>
                  <option value=''>همه</option>
                  {{#each buffetCities}}
                  <option value='{{id}}'>{{title}}</option>
                  {{/each}}
                </select>
                <i class='icon-down arrow'></i>
              </div>
            </div>
            <div class='form-control'>
              <label for='for'>نوع بوفه</label>
              <div class='radios buffetTypes'>
                {{#each buffetTypes}}
                  <div class='radioItem {{#if (ifequals @index 0 )}}active{{/if}}'>
                  <label for='buffetTypes_{{id}}'>{{title}}</label>
                  <input
                    id="buffetTypes_{{id}}"
                    name='buffetTypesId'
                    {{#if (ifequals @index 0 )}}checked{{/if}}
                    type='radio'
                    value='{{id}}'
                  />
                </div>
                {{/each}}
                
              </div>
            </div>
            <div class='form-control'>
              <label for='for'>قیمت منوها</label>
              <div class='radios buffetCosts'>

                {{#each buffetCosts}}
                <div class='radioItem {{#if (ifequals @index 0)}}active{{/if}}'>
                  <label for='buffetCosts_{{id}}'>{{title}}</label>
                  <input
                    id='buffetCosts_{{id}}'
                    name='buffetCostId'
                    {{#if (ifequals @index 0)}}checked{{/if}}
                    type='radio'
                    value='{{id}}'
                  />
                </div>
                {{/each}}
              </div>
            </div>
            <button class='searchFilter'>
              جست و جو
              <i class='icon-search'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='luxuaries'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 col-12 p-0'>
        <div class='rightBox'>
          <h3 class='wow animate__animated animate__fadeInUp'>
            ویترین کافه
          </h3>
          <p class='wow animate__animated animate__fadeInUp'>
            با کیفیت ترین کافه ها از نظر متریال و دکور
          </p>
          <!-- <a class='wow animate__animated animate__fadeInUp' href=''>مشاهده همه</a> -->
        </div>
      </div>
      <div class='col-md-9 col-12 p-0 h-100 reverseOrderMobile'>
        <div class='luxCarousel'>
          {{#each pinedBuffets}}
            <div>
              <a href="/buffet/{{urlAddress}}">
              <img
                class='w-100'
                src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
                alt='{{title}}'
              />
              </a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class='bestCategories'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInUp'>
          <img src='/src/discountcoffe/img/access.png' alt='' />
          <a href='#'><h5>دسترسی آسان</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInDown'>
           <img src='/src/discountcoffe/img/premium.png' alt='' />
          <a href='#'><h5>بالاترین کیفیت</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInUp'>
           <img src='/src/discountcoffe/img/best-price.png' alt='' />
          <a href='#'><h5>قیمت های بهینه</h5></a>
        </div>
      </div>
      <div class='col-md-3 col-6'>
        <div class='item wow animate__animated animate__fadeInDown'>
           <img src='/src/discountcoffe/img/proposition.png' alt='' />
          <a href='#'><h5>خاص و بی نظیر</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='fomos'>
  <div class='container'>
    <div class='fomoWrapper'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>{{resturantCount}}</h4>
            <h5>{{resturantCount}}</h5>
          </div>
          <p class='title'><span>تعداد</span> رستوران ها</p>
        </div>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>{{coffeCount}}</h4>
            <h5>{{coffeCount}}</h5>
          </div>
          <p class='title'><span>تعداد</span> کافه ها</p>
        </div>
        <div class='col-md-4'>
          <div class='numbers'>
            <h4>{{reserveCount}}</h4>
            <h5>{{reserveCount}}</h5>
          </div>
          <p class='title'><span>تعداد</span> رزرو ها</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>کافه ها</h4>
      <a href='/buffet/list?buffetTypeId=1'>همه کافه ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        {{#each lastCoffes}}
          <div class='productItem'>
            <img
              class='w-100'
              src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
              alt=''
            />
            <div class='productData'>
              <h3>{{title}}</h3>
              <div class='features'>
                {{#each (limit coffeOptions 3)}}
                  <div class='item'>
                    <i class='{{iconClass}}'></i>
                    <p>{{title}}</p>
                  </div>
                {{/each}}
              </div>
              <div class='more'>
                <h5>تا {{percentDiscount}}% تخفیف!</h5>
                <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
<div class='super-lux'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-5'>
        <img
          class='super-lux-img'
          src='/theme/discountcoffe/assets/img/png/super-lux.png'
          alt=''
        />
      </div>
      <div class='col-md-7'>
        <div class='heading'>
          <h5>کافه های شگفت انگیز</h5>
          <p>کافه های شگفت انگیز بیش از 10 درصد تخفیف</p>
          <a class='more' href='/buffet/list?buffetCostId=3'>همه کافه ها</a>
        </div>
        <div class='offersSlider'>
          {{#each luxuryCoffes}}
            <div class='productItem'>
              <img
                class='w-100'
                src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
                alt=''
              />
              <div class='productData'>
                <h3>{{title}}</h3>
                <div class='features'>
                  {{#each (limit coffeOptions 3)}}
                    <div class='item'>
                      <i class='{{iconClass}}'></i>
                      <p>{{title}}</p>
                    </div>
                  {{/each}}

                </div>
                <div class='more'>
                  <h5>تا {{percentDiscount}}% تخفیف!</h5>
                  <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
                </div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>رستوران ها</h4>
      <a href='/buffet/list?buffetTypeId=2'>همه رستوران ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        {{#each lastResuturants}}
          <div class='productItem'>
            <img
              class='w-100'
              src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
              alt=''
            />
            <div class='productData'>
              <h3>{{title}}</h3>
              <div class='features'>
                {{#each (limit coffeOptions 3)}}
                  <div class='item'>
                    <i class='{{iconClass}}'></i>
                    <p>{{title}}</p>
                  </div>
                {{/each}}
              </div>
              <div class='more'>
                <h5>تا {{percentDiscount}}% تخفیف!</h5>
                <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class='banner'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='item'>
          <img src='/theme/discountcoffe/assets/img/png/banner-1.png' alt='' />
          <div class='info'>
            <h5>رستوران ها</h5>
            <a href='/buffet/list?buffetTypeId=2'>مشاهده</a>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='item'>
          <img src='/theme/discountcoffe/assets/img/png/banner-2.png' alt='' />
          <div class='info'>
            <h5>کافه ها</h5>
            <a href='/buffet/list?buffetTypeId=1'>مشاهده</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row coffe-resturant">
      <div class="col-md-12">
        <div class='item'>
          <img src='/src/discountcoffe/img/coffe-resturant.jpg' alt='' />
          <div class='info'>
            <h5>کافه رستوران ها</h5>
            <a href='/buffet/list?buffetTypeId=3'>مشاهده</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='productSection'>
  <div class='container'>
    <div class='titles'>
      <h4>کافه، رستوران های دارای آفر</h4>
      <a href='/buffet/list?buffetCostId=1'>همه کافه، رستوران ها</a>
    </div>
    <div class='row'>
      <div class='productSliderMultiple'>
        {{#each lowPrices}}
          <div class='productItem'>
            <img
              class='w-100'
              src='/v1/api/discountcoffe/admin/buffets/photo/{{coverAttachment.fileName}}'
              alt=''
            />
            <div class='productData'>
              <h3>{{title}}</h3>
              <div class='features'>
                {{#each (limit coffeOptions 3)}}
                  <div class='item'>
                    <i class='{{iconClass}}'></i>
                    <p>{{title}}</p>
                  </div>
                {{/each}}

              </div>
              <div class='more'>
                <h5>تا {{percentDiscount}}% تخفیف!</h5>
                <a href='/buffet/{{urlAddress}}'>اطلاعات و رزرو</a>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
<div class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='photos'>
          <img
            class='main w-100'
            src='/theme/discountcoffe/assets/img/png/pizza.png'
            alt=''
          />
          <img
            class='sub-1'
            src='/theme/discountcoffe/assets/img/png/sub-1.png'
            alt=''
          />
          <img
            class='sub-2'
            src='/theme/discountcoffe/assets/img/png/sub-2.png'
            alt=''
          />
        </div>
      </div>
      <div class='col-md-6'>
        <h3>تخفیف کافه چیست؟</h3>
        <div class='content'>
          <p>
            تخفیف کافه اولین و بزرگترین سیستم انلاین و شرکت در زمینه کافه رستوران و تشکیل شده از افراد متخصص است که هدفش راحت تر کردن و سهولت بخشیدن به کار کافه رستوران ها و عوام مردم است  تخفیف کافه با آسان سازی و دادن دسترسی به کاربران برای راحت تر یافتن کافه و رستوران ها در تمامی مناطق مورد نظر است همچنین  امکان استفاده از تخفیفات کافه و کافه رستوران ها سفارش گیری ، رزرو میز، و استفاده از آفر هایی که به شما ارائه داده میشه رو فراهم میکند.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section 'footer'}}
<script src="/src/discountcoffe/js/home.js"></script>
{{/section}}