<html>
  <head><title>{{title}}</title></head>
  <body>
      <div class="row">
          <div class="col-xs-12 col-xl-12">
              <div class="basic-form">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label>نام نقش</label>
                          <input id="roleNameId" type="text" class="form-control" placeholder="نام نقش">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {{#each permissionGroups}}
        <div class='row border'>
          <div class='col-md-3 border text-center d-flex justify-content-center align-items-center'>
            {{permissionGroupName}}
          </div>
          <div class='col-md-9'>
            <div class='row'>
              {{#each permissions}}
                <div class='col-lg-6 col-md-6 align-items-center'>
                  <div class='media-body'>
                    <div class='custom-control custom-checkbox mb-3'>
                      <label class="css-control css-control-primary css-checkbox" for="permissionCheckBox_{{id}}">
                        
                        <input permission-id='{{id}}' type="checkbox" class="css-control-input permission-select" id="permissionCheckBox_{{id}}">
                       
                        <span class="css-control-indicator"></span>{{permissionName}}
                      </label>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
      <div class="row">
        <button id="saveButton" class="btn btn-primary mt-3"><i class="fa fa-save"></i> ذخیره</button>
      </div>
  </body>
</html>



