
{{#section 'header'}}
    <title>{{title}}</title>
    <style>
        .menu-category {
                scrollbar-width: auto;
                scrollbar-color: #00c9ac #eaeaea;
        }
        .menu-category {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: end;
            text-align: center;
            overflow-x: scroll;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

         .menu-items .group {
            display: none;
        }

        .menu-items .group.active {
            display: block;
        }

        .menu-items .group .item {
            margin-bottom: 20px;
            border-radius: 23px;
            border: 1px solid #00c9ac;
            background: #fff;
            padding: 16px 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .curve-image {
    border-radius: 6px;
}

.counts {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.count {
    font-size: 21px;
    color: #4caf50;
    font-weight: 600;
}


span.decrease {
    background: #e4e4e4;
    padding: 4px 11px;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
}

span.increase {
    background: #e4e4e4;
    padding: 4px 11px;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
}

.menu-category .item {
    white-space: nowrap;
    margin-left: 45px;
}
    </style>
{{/section}}
<div class='d-none' id='reserveId'>{{reserveId}}</div>
<div class='card'>
  <div class='card-header'>
    <h4>افزودن سفارش</h4>
  </div>
  <div class='card-body'>
        <div class='chooseCondition active'>
            <div class='menu-category'>
              {{#each buffetMenuCategories}}
              <div class='item {{#if (ifequals @index 0)}} active{{/if}}' data-category='{{title}}'>
                {{#if (isDefined cover)}}
                <img
                  src='/v1/api/discountcoffe/admin/menuCategories/photo/{{cover.fileName}}'
                  width="50"
                  height="50"
                  class="curve-image"
                  alt=''
                />
                {{/if}}
                <p>{{title}}</p>
              </div>
              {{/each}}
              
              
             
            </div>
            <div class='menu-items'>
              
              {{#each buffetMenuCategories}}
              <div class='group {{#if (ifequals @index 0)}} active{{/if}}' data-category='{{title}}'>
                {{#each menus}}
                <div class='item' data-id='{{id}}' data-price='{{price}}'>
                  <span>
                  {{#if (isDefined cover)}}
                  <img class="curve-image" src="/v1/api/discountcoffe/admin/menus/photo/{{cover.fileName}}" width="50" height="50">
                  {{/if}}
                  <h3>{{title}}</h3>
                  </span>
                  <div class='counts'>
                    <span class='price'>{{price}}</span>
                    <span class='decrease'>-</span>
                    <span class='count'>0</span>
                    <span class='increase'>+</span>
                  </div>
                </div>
                {{/each}}
               
              </div>
              {{/each}}
            </div>
        </div>
        <div class='prices'>
            <div class='final'>جمع کل بدون تخفیف: <span>0</span> تومان</div>
            <a id="addReserveItem"><button class="btn btn-success">اضافه کردن سفارش ها</button></a>
        </div>
  </div>
</div>

{{#section 'footer'}}
  <script src='/theme/discountcoffe/assets/js/currency.min.js'></script>
<script src='/src/discountcoffe/reserve/addOrder.js'></script>
{{/section}}