{{#section 'header'}}
  <meta name='keywords' content='' />
  <meta name='author' content='' />
  <meta name='robots' content='' />
  <meta name='description' content='{{model.title}}' />
  <meta property='og:title' content='{{model.title}}' />
  <meta property='og:description' content='{{model.title}}' />
  <meta property='og:image' />

  <title>{{title}}</title>
  <link
    rel='stylesheet'
    href='/tools/core/bootstrap-table@1.19.1/bootstrap-table.min.css'
  />

{{/section}}
<div class='d-none' id='reserveId'>{{reserveId}}</div>
<div class='card'>
  <div class='card-header'>
    <h4>لیست سفارش های ثبت شده برای کافه ها</h4>
  </div>
  <div id='mainSection' class='card-body'>

    <table
      id='entityTable'
      class='table table-striped'
      data-sticky-header='true'
      data-ajax='getEntityAjaxRequest'
      data-side-pagination='server'
      data-pagination='true'
      data-page-list='[10, 20, 50, 100, 200]'
      data-locale='fa-IR'
      data-search='true'
      data-show-columns='true'
      data-detail-view='true'
      data-detail-view-by-click='true'
      data-detail-formatter='detailFormatter'
    >
      <thead>
        <tr>
          <th data-field='buffet.title'>نام کافه</th>
          <th data-field='user.phoneNumber'>شماره تلفن مشتری</th>
          <th data-field='personCount'>تعداد نفرات</th>
          <th data-field='persianDate.YearMonthDay'>تاریخ رزرو</th>
          <th data-field='reserveType.title'>نوع رزرو</th>
          <th data-field='price'>مجموع قیمت</th>
          <th data-formatter='imageFormatter'>تصویر</th>
          {{! <th data-formatter='actionFormatter'>عملیات</th> }}

        </tr>
      </thead>

    </table>
  </div>
  <div class='card-header'>
    <div class='text-left'>
      <button
        id='backButton'
        class='btn btn-secondary'
        style='display: none;'
      >بازگشت</button>
    </div>
  </div>
  <div id='secondSection' class='card-body' style='display: none;'></div>

</div>

{{#section 'footer'}}

  <script
    src='/tools/core/bootstrap-table@1.19.1/bootstrap-table.min.js'
  ></script>
  <script
    src='/tools/core/bootstrap-table@1.19.1/bootstrap-table-fa-IR.js'
  ></script>
  <script src='/src/discountcoffe/reserve/reserve.js'></script>
{{/section}}