<html>
  <head><title>{{title}}</title>

  </head>
  <body>
    <div class="d-none" id="menuId">{{menu.id}}</div>
    <div class='basic-form'>
      <form id='editMenuForm' autocomplete='off'>
        <div class='row'>
          <div class='col-md-6'>

            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>آپلود</span>
              </div>
              <div class='custom-file'>
                <input
                  id='file'
                  type='file'
                  accept='.jpg,.png'
                  class='custom-file-input'
                />
                <label class='custom-file-label'>انتخاب کاور</label>
              </div>
            </div>

            <div class='form-group col-md-12 d-none'>
              <label>کافه رستوران</label>
              <input
                name='buffetId'
                type='number'
                class='form-control'
                value='{{menu.buffetId}}'
              />
            </div>

            <div class='form-group col-md-12'>
              <label>عنوان منو</label>
              <input
                name='title'
                value='{{menu.title}}'
                type='text'
                class='form-control'
                placeholder='عنوان منو'
              />
            </div>

            <div class='form-group col-md-12'>
              <label>قیمت</label>
              <input
                name='price'
                type='number'
                class='form-control'
                value='{{menu.price}}'
                placeholder='قیمت'
              />
            </div>

            <div class='form-group col-sm-6 col-xl-6'>
              <label>دسته بندی</label>
              <select
                name='menuCategoryId'
                class='form-control default-select form-control-lg dir-rtl'
              >
                {{#each buffetMenuCategories}}

                  <option value='{{id}}' {{#if (ifequals ../menu.menuCategoryId id)}} selected=""{{/if}}>{{title}}</option>

                {{/each}}
              </select>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class='row'>
      <button
        id='editMenuButton'
        type='submit'
        form='editMenuForm'
        class='btn btn-primary mt-3'
      ><i class='fa fa-save'></i>
        ویرایش</button>
    </div>

  </body>

</html>