{{#each menus}}
  <li>
    {{#if (isnotnull this.url)}}
      <a class='ai-icon' href='{{this.url}}' aria-expanded='false'>
        <i class='{{this.className}}'></i>
        <span class='nav-text'>{{this.title}}</span>
      </a>
    {{else}}
      <a
        class='has-arrow ai-icon'
        href='javascript:void()'
        aria-expanded='false'
      >
        <i class='{{this.className}}'></i>
        <span class='nav-text'>{{this.title}}</span>
      </a>
      <ul aria-expanded='false'>
        {{#each this.subMenus}}
          <li><a href='{{this.url}}'>{{this.title}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

  </li>
{{/each}}