{{#section 'header'}}
  <title>{{title}}</title>
  <!-- <link
    rel='stylesheet'
    href='/tools/core/vendor/bootstrap@5.1.1/dist/css/bootstrap.rtl.min.css'
  /> -->
{{/section}}

<section class='profile'>
  <div class='container-lg'>
    <div class='row'>
      <div class='col-md-3'>
        <div class='sidebar sticky-bar p-4 rounded shadow'>

          <div class='widget mt-4'>
            <ul class='list-unstyled sidebar-nav mb-0' id='navmenu-nav'>
              <li class='navbar-item account-menu px-0 active'>
                <a
                  href='/user/profile'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user'></i></span>
                  <h6 class='mb-0 ms-2'>پروفایل </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2'>
                <a
                  href='/user/reserves'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-store'></i></span>
                  <h6 class='mb-0 ms-2'>رزرو ها </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2'>
                <a
                  href='/user/logout'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user-minus'></i></span>
                  <h6 class='mb-0 ms-2'>خروج </h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class='col-md-3'>
        <div class='panel text-center'>

          <div class='profile'>
            
            <h4>{{user.firstname}} {{user.lastname}}</h4>
          </div>
          <div class='menuItems'>
            <ul>
              <li class='active'>
                <a href='/user/profile'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/dashboard.svg'
                    alt=''
                  />
                  پروفایل
                </a>
              </li>

              <li>
                <a href='/user/reserves'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/money.svg'
                    alt=''
                  />
                  رزرو ها
                </a>
              </li>

              <li>
                <a href='/user/logout'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/exit.svg'
                    width='35'
                    height='35'
                    alt=''
                  />
                  خروج
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div> -->
      <div class='col-md-9'>
        <h5 class='dashboardTitle'>پروفایل شما</h5>
        <div class='vp-login-otp-container'>
          <div class='vp-login-otp-form-container'>
            <div class='vp-header'>

              <div class='vp-description'>اطلاعات کاربری خود را وارد بفرمایید</div>
            </div>
            <div class='vp-form vp-theme-minimal login-Otp'>
              <form
                id='vp-login-otp-form'
                action='/user/profile'
                method='post'
                novalidate=''
                autocomplete='off'
              >
                <div class='vp-rows vpNewRow login-Otp'>
                  <div class='vp-row vp-row-otp-mobile'>
                    <label class='vp-label' for='vp-login-otp-firstname'>
                      نام
                      <!--  <span class="vp-required">*</span>-->
                    </label>

                    <input
                      id='vp-login-otp-firstname'
                      name='firstname'
                      value='{{user.firstname}}'
                      type='text'
                      class='vp-input'
                      placeholder='نام کاربر'
                      required=''
                      autocomplete='off'
                    />

                  </div>
                </div>
                <div class='vp-rows vpNewRow login-Otp'>
                  <div class='vp-row vp-row-otp-mobile'>
                    <label class='vp-label' for='vp-login-otp-lastname'>
                      نام خانوادگی
                      <!--  <span class="vp-required">*</span>-->
                    </label>

                    <input
                      id='vp-login-otp-lastname'
                      name='lastname'
                      value='{{user.lastname}}'
                      type='text'
                      class='vp-input'
                      placeholder='نام خانوادگی'
                      required=''
                      autocomplete='off'
                    />

                  </div>
                </div>
                <div class='vp-row vp-row-btn'>
                  <button
                    type='submit'
                    class='vp-btn vp-theme-fluent width-100 btnLogin'
                  >ذخیره</button>
                </div>
                <div class='bottomButtons'></div>
              </form>
            </div>
          </div>
        </div>
        <!-- <form action='/user/profile' method='post'>
          <div class='row'>

            <div class='col-xs-12 col-xl-12'>
              <div class='basic-form'>
                <div class='form-row'>
                  <div class='form-group col-md-6'>
                    <label>نام کاربر</label>
                    <input
                      id='firstname'
                      name='firstname'
                      type='text'
                      class='form-control'
                      value='{{user.firstname}}'
                      placeholder='نام کاربر'
                    />
                  </div>
                  <div class='form-group col-md-6'>
                    <label>نام خانوادگی</label>
                    <input
                      id='lastname'
                      name='lastname'
                      type='text'
                      class='form-control'
                      value='{{user.lastname}}'
                      placeholder='نام خانوادگی'
                    />
                  </div>

                  <div class='form-group col-md-6'>
                    <button
                      class='btn btn-sm btn-success rounded-3'
                      type='submit'
                    >ذخیره</button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</section>