{{#section 'header'}}
  <title>{{title}}</title>
  <!-- <link
    rel='stylesheet'
    href='/tools/core/vendor/bootstrap@5.1.1/dist/css/bootstrap.rtl.min.css'
  /> -->
{{/section}}

<section class='profile'>
  <div class='container-lg'>
    <div class='row'>
      <div class='col-md-3'>
        <div class='sidebar sticky-bar p-4 rounded shadow'>

          <div class='widget mt-4'>
            <div class='profile-siderbar'>
              <img
                {{#if (isnotnull currentUser.profileAttachment)}}
                src='/v1/api/core/user/profile/photo/{{currentUser.profileAttachment.fileName}}'
                {{else}}
                src='/src/discountcoffe/img/profile.jpg'
                {{/if}}
                width='150'
                height='150'
                id='img'
                alt=''
              />
              <div class='camera'>
                <label for='file' class='upload-label mt-2'>آپلود عکس</label>
                <input
                  style='display: none;'
                  type='file'
                  accept='.jpg,.png'
                  id='file'
                  name='file'
                />
              </div>
              <h4>{{currentUser.firstname}} {{currentUser.lastname}}</h4>
            </div>
            <ul class='list-unstyled sidebar-nav mb-0' id='navmenu-nav'>
              <li class='navbar-item account-menu px-0 active'>
                <a
                  href='/user/profile'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user'></i></span>
                  <h6 class='mb-0 ms-2'>پروفایل </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2'>
                <a
                  href='/user/reserves'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-store'></i></span>
                  <h6 class='mb-0 ms-2'>رزرو ها </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2'>
                <a
                  href='/user/logout'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user-minus'></i></span>
                  <h6 class='mb-0 ms-2'>خروج </h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class='col-md-3'>
        <div class='panel text-center'>

          <div class='profile'>
            
            <h4>{{user.firstname}} {{user.lastname}}</h4>
          </div>
          <div class='menuItems'>
            <ul>
              <li class='active'>
                <a href='/user/profile'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/dashboard.svg'
                    alt=''
                  />
                  پروفایل
                </a>
              </li>

              <li>
                <a href='/user/reserves'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/money.svg'
                    alt=''
                  />
                  رزرو ها
                </a>
              </li>

              <li>
                <a href='/user/logout'>
                  <img
                    src='/theme/discountcoffe/assets/img/png/exit.svg'
                    width='35'
                    height='35'
                    alt=''
                  />
                  خروج
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div> -->
      <div class='col-md-9'>
        <h5 class='dashboardTitle'>پروفایل شما</h5>
        <div class='vp-login-otp-container'>
          <div class='vp-login-otp-form-container'>
            <div class='vp-header'>

              <div class='vp-description'>اطلاعات کاربری خود را وارد بفرمایید</div>
            </div>
            <div class='vp-form vp-theme-minimal login-Otp'>
              <form
                id='vp-login-otp-form'
                action='/user/profile'
                method='post'
                novalidate=''
                autocomplete='off'
              >
                <div class='vp-rows vpNewRow login-Otp'>
                  <div class='vp-row vp-row-otp-mobile'>
                    <label class='vp-label' for='vp-login-otp-firstname'>
                      نام
                      <!--  <span class="vp-required">*</span>-->
                    </label>

                    <input
                      id='vp-login-otp-firstname'
                      name='firstname'
                      value='{{user.firstname}}'
                      type='text'
                      class='vp-input'
                      placeholder='نام کاربر'
                      required=''
                      autocomplete='off'
                    />

                  </div>
                </div>
                <div class='vp-rows vpNewRow login-Otp'>
                  <div class='vp-row vp-row-otp-mobile'>
                    <label class='vp-label' for='vp-login-otp-lastname'>
                      نام خانوادگی
                      <!--  <span class="vp-required">*</span>-->
                    </label>

                    <input
                      id='vp-login-otp-lastname'
                      name='lastname'
                      value='{{user.lastname}}'
                      type='text'
                      class='vp-input'
                      placeholder='نام خانوادگی'
                      required=''
                      autocomplete='off'
                    />

                  </div>
                </div>
                <div class='vp-row vp-row-btn'>
                  <button
                    type='submit'
                    class='vp-btn vp-theme-fluent width-100 btnLogin'
                  >ذخیره</button>
                </div>
                <div class='bottomButtons'></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#section 'footer'}}
  <script src='/src/core/util/custom.js'></script>
  <script src='/src/discountcoffe/js/profile.js'></script>
{{/section}}