{{#section 'header'}}
  <title>{{title}}</title>
  <!-- <link
    rel='stylesheet'
    href='/tools/core/vendor/bootstrap@5.1.1/dist/css/bootstrap.rtl.min.css'
  /> -->
{{/section}}

<section class='profile'>
  <div class='container-lg'>
    <div class='row'>
      <div class='col-md-3'>
        <div class='sidebar sticky-bar p-4 rounded shadow'>

          <div class='widget mt-4'>
            <div class='profile-siderbar'>
              <img
                {{#if (isnotnull currentUser.profileAttachment)}}
                src='/v1/api/core/user/profile/photo/{{user.profileAttachment.fileName}}'
                {{else}}
                src='/src/discountcoffe/img/profile.jpg'
                {{/if}}
                width='150'
                height='150'
                id='img'
                alt=''
              />
              <div class='camera'>
                <label for='file' class='upload-label mt-2'>آپلود عکس</label>
                <input
                  style='display: none;'
                  type='file'
                  accept='.jpg,.png'
                  id='file'
                  name='file'
                />
              </div>
              <h4>{{currentUser.firstname}} {{currentUser.lastname}}</h4>
            </div>
            <ul class='list-unstyled sidebar-nav mb-0' id='navmenu-nav'>
              <li class='navbar-item account-menu px-0'>
                <a
                  href='/user/profile'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user'></i></span>
                  <h6 class='mb-0 ms-2'>پروفایل </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2 active'>
                <a
                  href='/user/reserves'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-store'></i></span>
                  <h6 class='mb-0 ms-2'>رزرو ها </h6>
                </a>
              </li>

              <li class='navbar-item account-menu px-0 mt-2'>
                <a
                  href='/user/logout'
                  class='navbar-link d-flex rounded shadow align-items-center py-2 px-4'
                >
                  <span class='h4 mb-0'><i class='la la-user-minus'></i></span>
                  <h6 class='mb-0 ms-2'>خروج </h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='row'>
          <h5 class='dashboardTitle'>سوابق رزرو شما</h5>
          {{#each reserves}}
            <div class='col-md-12'>
              <div class='paymentItem'>
                <p>{{persianDate.DayInMonth}}
                  {{persianDate.PersianMonthName}}
                  {{persianDate.YearNumber}}</p>
                <p>
                  <a
                    class='buffet-link'
                    href='/buffet/{{buffet.urlAddress}}'
                  >{{buffet.title}}
                  </a>
                </p>
                <p class='status paid'><span></span>{{reserveStatus.title}}</p>
                <p>{{price}} تومان</p>
                <div class='actions'>
                  <a href='/buffet/detail/{{uniqueCode}}'>
                    <button class='button read'>مشاهده</button>
                  </a>
                </div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>

{{#section 'footer'}}
  <script src='/src/core/util/custom.js'></script>
  <script src='/src/discountcoffe/js/profile.js'></script>
{{/section}}